<!DOCTYPE html>
<html>
<head>
	<title>新規登録</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>新規登録</h1>
<div class="form">
	<% if(form.err.lead){ %>
		<p class="err"><%= form.err.lead %></p>
	<% } %>
	<form action="/signup" method="post" name="frm">
		<dl class="form-item">
			<dt>
				<p>メールアドレス</p>
			</dt>
			<dd>
				<input type="text" name="mail" value="<%= form.mail %>">
				<% if(form.err.mail){ %><%= form.err.mail %><% } %>
			</dd>
		</dl>
		<dl class="form-item">
			<dt>
				<p>パスワード</p>
			</dt>
			<dd>
				<input type="password" name="password">
			</dd>
		</dl>
		<dl class="form-item">
			<dt>
				<p>名前</p>
			</dt>
			<dd>
				<input type="text" name="name" value="<%= form.name %>">
			</dd>
		</dl>
		<dl class="form-item">
			<dt>
				<p>コメント</p>
			</dt>
			<dd>
				<input type="text" name="comment" value="<%= form.comment %>">
			</dd>
		</dl>
		<div class="form-btns">
			<p class="btn"><a href="#" onclick="document.frm.submit();return false;">送信</a></p>
		</div>
		<input type="hidden" name="rturl" value="<%= form.rturl %>">
	</form>
</div>

</body>
</html>